EPAYCO_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxx
EPAYCO_CUSTOMER_ID=123456
EPAYCO_P_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EPAYCO_TEST=true
APP_BASE_URL=https://tu-dominio.web.app
EMAILJS_SERVICE_ID=service_xxxxxxxxx
EMAILJS_PUBLIC_KEY=your_emailjs_public_key_here
EMAILJS_PRIVATE_KEY=your_emailjs_private_key_here
